section#landscape {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  background: var(--bgr-color);
  min-height: 100vh;
  min-width: 100vw;
}


h1 {
  font-size: 3.4rem;
  font-weight: 700;
  margin: 2rem 0;
}

h2 {
  font-size: 2.6rem;
  margin-bottom: 1rem;
}


h2.dynamic-text.choose-continent,
h2.dynamic-text.choose-country,
h2.dynamic-text.error {
  display: none;
}

h2.dynamic-text.choose-continent.display,
h2.dynamic-text.choose-country.display {
  display: block;
}

h2.dynamic-text.error.display {
  display: block;
  color: rgb(196, 67, 67);
}



.grid-outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
}


#continents-btn-grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(5, 14.5rem);
  grid-gap: 1.5rem;
  width: fit-content
}


#countries-btn-grid {
  display: grid;
  grid-template-columns: repeat(9,  minmax(auto, max-content));
  justify-items: center;
  grid-gap: 1.5rem;
  width: fit-content;
}

button {
  width: 14.5rem;
  height: 4.5rem;
  padding: .5rem;
  border-radius: 0.5rem;
  margin: 0 2rem;
  background: var(--continent-btn-color);
}

button.country-btn {
  font-size: 1.8rem;
  width: max-content;
  height: 4.2rem;
  padding: .5rem;
  border-radius: 0.5rem;
  margin: 0 2rem;
  background: var(--country-btn-color);
}

.graph-container {
  height: 63rem;
  width: 125rem;
  background: rgb(255, 255, 255, 0.3);
  margin: 3rem 0;
}

.spinner {
  visibility: hidden;
}

.spinner.display {
  visibility: visible;
  width: 10rem;
  height:10rem;
  margin:2rem;
  border-top: 0.5rem solid goldenrod;
  border-radius:50%;
  animation: spin 0.8s linear infinite;
}


#spinner-container {
  visibility: hidden;
}

#spinner-container.display {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10rem;
  background: var(--bgr-color);
  /* background: rgb(0, 0, 0, 0.4); */
  width: 100%;
  height: 15%;
  visibility: visible;
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform:rotate(360deg);}
}